
{% extends 'base.html.twig' %}

{% block banner %}

  <div class="view intro-2">
    <div class="full-bg-img">
      <div class="mask rgba-black-light flex-center">
        <div class="container text-center white-text">
          <div class="white-text text-center wow fadeInUp">
            <h2>Bienvenue sur la piste !</h2>
            <h5>Découvrez ou revoyez les plus belles figures de Snowboard.</h5>
            <br>
            <p>Après votre inscription, vous pourrez poster de nouveaux 'Tricks' et échanger avec toute la communauté.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}