{% extends 'base.html.twig' %}

{% block title %}New Trgroup{% endblock %}

{% block body %}
    <h1>Create new Trgroup</h1>

    {{ include('trgroup/_form.html.twig') }}

    <a href="{{ path('trgroup_index') }}">back to list</a>
{% endblock %}
