/* ==================================================== */
:root {
--bg-body: lightblue;
--bg-snowtrick: rgb(25,79,139);
}
/* ==================================================== */

body {
	background-color: var(--bg-body);
}

h1 {
  text-align: center;
}
h1::after {
  /* content: url("../images/logo-after.png"); */
}

main {
  margin-top: 70px;
}

.banner {
  position: relative;
  margin-top: -70px;
  margin-bottom: 80px;
}

.banner-box {
position: absolute;
top: 67%;
right: 0px;
bottom: 0px;
left: 0px;
text-align: center;
background-color: rgba(43, 119, 122, 0.4);
padding: 10px;
}

nav.navbar {
  /* background: transparent !important; */
  background: transparent;
}
nav.navbar.active {
  font-weight: 400 !important;
}
nav.navbar-black04 {
  background-color: rgba(25,79,139, 0.4);
}
nav.navbar-black07 {
  background-color: rgba(25,79,139, 0.7);
}
nav.navbar-black10,
.navbar-opacity {
  background-color: var(--bg-snowtrick) !important;
}

form {
  display: inline-block;
}
div.form-header {
  padding: 10px;
  color: aliceblue;
}
.form-edit form{
  width: 55%;
}
.form-edit .trick-input-field {
  margin: 3px auto;
  border-style: inset;
}
div > * [name=commentaire] {
  width: 100%;
}
div > * [name=commentaire] label {
  display: none;
}

div.flex-center label.mr-3.text-left {
  width: 15%;
}

div.custom-file {
  text-align: left;
}

#trick > div {
  margin: 10px;
}

/* Background colors */
.gradient-blue {
  background-image: linear-gradient(120deg,#c6f8fa 0,#866cfa 150%);
}

/* Tables setup */
td img {
	width: 60px;
}
th.txt-center {
	text-align: center !important;
}
#snow-logo {
	width: 150px;
	border-radius: 3px;
}
#navbar {
	list-style-type: none;
}
#navbar li {
	display: inline-block;
}

table.trick-show {
  border: 1px solid var(--bg-snowtrick);
}
table.trick-show tbody {
  display: inline-flex;
}
table.trick-show tbody th {
  padding-left: 5px;
}
table.trick-show tbody td {
  padding-right: 0;
}

.text-truncate {
  max-width: 130px;
}


/* =================================================== */
/* Used for <header> */
/* =================================================== */

html, body {
  height: 100%;
}

.card {
  width:80%;
  margin: 0 auto;
}

.card-block form {
  width: 80%;
  margin-left: 10%;
}

.card-body {
  text-align: left;
  padding: 0 5px;
}

.card-show-trick {
  width: 15%;
  display: inline-flex;
  margin: 5px;
}

.md-form i
/* , h1 i.fa-user */
{
  margin-left: -8%;
}

h4 {font-size: 20px;}

.view {
height: 80%;
}

.container
, .container-fluid 
{
  height: inherit;
  padding: 0;
}
.container > .card {
  min-height: 45vh;
  top: 10vh;
}
.card-block {
  position: relative;
}
.card-block.user-logged {
  top: 15vh;
}
.card-block.user-sign-in,
.card-block.user-register {
  top: 6vh;
  width: 80%;
  margin: 0 auto;
}

.view {
  height: 100vh !important;
  background-image : url("../images/home-banner.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

div.container.text-center
{
  position: relative;
  top: 35vh;
}


.mask {
  width: 90% !important;
  height: 90% !important;
  margin: 0 auto;
  border-radius: 15px;
}

.view .mask {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
}

.width-trick-edit {
  width: 30%;
  border: 5px #fff solid;
}

div.row.trick-full {
  position: relative;
}
.about.card-icons {
  height: fit-content;
}
div.row.trick-full img {
  width: 100%;
  margin: 0 auto;
  border: 5px #fff solid;
}

/* .form-group input,  */
.form-group select
, .form-group .custom-file-label
, .form-group textarea
{
  /* background-image: linear-gradient(120deg, #d8f7e8, #1f75d5 150%); */
}

.form-group > label {
  display: inline-block;
}

.trick-comment p {
  /* width: 80%; */
  margin: 0 auto;
  margin-top: 3vh;
}

.about.card-icons {
  position: absolute;
  right: 4vh;
  top: 10px;
  background-color: white;
  border-radius: 5px;
}

.about.card-icons i{
  margin: 5px;
  padding: 0;
}

/* =================================================== */
.fas { font-size:22px;}

.fa-pencil-alt {
  /* margin-left: 20px; */
  color: forestgreen;
}

.fa-arrow-circle-down {
  font-size:35px;
  color: turquoise;
  position: relative;
  top: 42vh;
  right: 1vh;
}

/* div.gallery.container {
  margin-top: 10vh;
} */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: DodgerBlue; */
}

.flex-container > div.card {
  /* background-color: #f1f1f1; */
  width: 190px;
  /* margin-top: 10px; */
  margin: 10px 0 0 10px;
  text-align: center;
  font-size: 30px;
}

.flex-container h4,
.card-body form {
  display: inline-block;
  margin: 0;
}

.card {
  box-shadow: #111 -4px 5px 6px;
}

.btn-delete {
  background: none;
  border: none;
  display: inline-block;
  color: brown;
}
.btn-register,
.btn-info {
  background-color: var(--bg-snowtrick) !important;
  color: aliceblue;
}

footer p {
  margin-top: 10vh;
  height: 200px;
  background-color: var(--bg-snowtrick);
  color: white;
}

.card-icons {
  float: right;
}

/* Media Queries */

@media only screen and (min-width: 600px) {
 
  div.container.text-center
{
  top: 40vh;
}

  .flex-container {
    /* background-color: goldenrod; */
  }
  
  div.flex-container > div.card {
    width: 210px;
    font-size: 30px;
  }

}