<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  
  {% block stylesheets %}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/css/mdb.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../css/style.css">
  {% endblock %}

</head>

<body>

  <!--Navigation-->
  <header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-darkXXX indigoXXX">
      
      <a class="navbar-brand" href="{{ path('home') }}"><img id="snow-logo" src="../images/logo.png" alt="Logo SnowTricks" /></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('home') }}">Accueil<span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{ path('trick_index') }}">Tricks</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{{ path('category_index') }}">Categories</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="../connexion">Sign in</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="../register">Sign up</a>
        </li>
      </ul>
    </div>
  </nav>

</header>
<!--Navigation-->


<!--Banner -->
<section class="banner container-fluid padd-0">

  {% block banner %}{% endblock %}

</section>


<!--Main Container-->
<main class="container padd-0">

  {% block body %}{% endblock %}

</main>

{% block javascripts %}
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.11/js/mdb.min.js"></script>
{% endblock %}

</body>
</html>
