{% extends 'base.html.twig' %}

{% block title %}
    {{page_title}}
{% endblock %}

{% block body %}
    <h1>{{page_title}}</h1>
    <hr>

    <div class="container">
        {{ include('trick/_form.html.twig') }}
    </div>

    {# <a class="btn btn-info" href="{{ path('trick_index') }}#trickGallery">Retour</a> #}
{% endblock %}
